@model IEnumerable<TurneroMedico.Models.TurnosModel>

@{
    ViewData["Title"] = "Reservar turno";
}

<h1>Listado de turnos</h1>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadElegida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorElegido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadElegida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorElegido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Cancelar</a>
            </td>
        </tr>
}
    </tbody>
</table>
